#estrutura{
    background-color: white; /*cor de fundo da pagina*/
    width: 80%; /*largura*/
    margin-left: auto; /*margem a esquerda*/
    margin-right: auto; /*margem a direita*/
}
#estrutura #menu ul{
    padding: 0px; /*espaçamento*/
}
#estrutura #menu li{
    /*retirar as marcas do marcador*/
    list-style: none;
    /*alinhar os links na horizontal*/
    display: inline-block;
    width: 250px;
    text-align: center;
    padding: 0px 0px;
}
#estrutura #menu a{
    /*a herf*/
    font-family: arial;
    font-size: 10pt;
    text-decoration: none;
    color: rgb(6, 6, 153);
    background-color: #e3e3e3;
    width: 100%;
    display: inline-block;
    padding: 10px 0px;
}
#estrutura #menu a:hover{ /*Só aparecerá quando o usuário passar o mouse no elemento*/
    background-color: rgb(6, 6, 153);
    color: white;
}
#estrutura #menu a.atual{ /*item do menu selecionado*/
    background-color: rgb(6, 6, 153);
    color: white
}
#estrutura #conteudo .imghome img{
    width: 300px;
    height: 220px;
    margin: 5px;
}
#rodape {
    padding: 20px 20px; font-family: arial; background-color: rgb(6, 6, 153);
    color: #efff; height: 60px; bottom: 0;
    width: 100%; text-align: center;
}