.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "h h h h h h"
                          "m m m m a a"
                          "f f f f f f";
      grid-gap: 2px;
}
header{
    grid-area: h;
}
aside{
    grid-area: a;
}
li{
    /*retirar as marcas do marcador*/
    list-style: none;
    /*alinhar os links na horizontal*/
    display: inline-block;
    width: 220px;
    text-align: center;
    padding: 0px 0px;
}
a{
    /*a herf*/
    font-family: arial;
    font-size: 10pt;
    text-decoration: none;
    color: rgb(6, 6, 153);
    background-color: #e3e3e3;
    width: 100%;
    display: inline-block;
    padding: 10px 0px;
}
    a:hover{ /*Só aparecerá quando o usuário passar o mouse no elemento*/
    background-color: rgb(6, 6, 153);
    color: white;
}
main{
    grid-area: m;
}
img{
    width: 400px;
    height: 220px;
    margin: 2px;
}
footer{
    grid-area: f;
}
footer #class{
    grid-area: f;
    padding: 20px 0px; font-family: arial; background-color: rgb(6, 6, 153);
    color: white; height: 60px; bottom: 0;
    width: 100%; text-align: center;
}