#estrutura{
    background-color: white; /*cor de fundo da pagina*/
    width: 80%; /*largura*/
    margin-left: auto; /*margem a esquerda*/
    margin-right: auto; /*margem a direita*/
}
#estrutura #menu ul{
    padding: 0px; /*espaçamento*/
}
#estrutura #menu li{
    /*retirar as marcas do marcador*/
    list-style: none;
    /*alinhar os links na horizontal*/
    display: inline-block;
    width: 250px;
    text-align: center;
    padding: 0px 0px;
}
#estrutura #menu a{
    /*a herf*/
    font-family: arial;
    font-size: 10pt;
    text-decoration: none;
    color: blue;
    background-color: #e3e3e3;
    width: 100%;
    display: inline-block;
    padding: 10px 0px;
}
#estrutura #menu a:hover{ /*Só aparecerá quando o usuário passar o mouse no elemento*/
    background-color: blue;
    color: white;
}
#estrutura #menu a.atual{ /*item do menu selecionado*/
    background-color: black;
    color: white
}
#estrutura #conteudo .imghome img{
    width: 349px;
    height: 300px;
    margin: 10px;
}
#estrutura #conteudo .imghome{text-align: center;}
/*forçanodo o rodapé para baixo*/
.abaixar{clear: both;}