#estrutura{
    background-color: white; /*cor de fundo da pagina*/
    width: 80%; /*largura*/
    margin-left: auto; /*margem a esquerda*/
    margin-right: auto; /*margem a direita*/
    background-image: linear-gradient(to right, #e3e3e3, white);
}
#estrutura #menu ul{
    padding: 0px; /*espaçamento*/
}
#estrutura #menu li{
    /*retirar as marcas do marcador*/
    list-style: none;
    /*alinhar os links na horizontal*/
    display: inline-block;
    width: 327px;
    text-align: center;
    border: 1px solid;
}
#estrutura #menu a{
    /*a herf*/
    font-family: arial;
    font-size: 10pt;
    text-decoration: none;
    color: blue;
    background-color: white;
    width: 100%;
    display: inline-block;
    padding: 10px 0px;
}
#estrutura #menu a:hover{ /*Só aparecerá quando o usuário passar o mouse no elemento*/
    background-color: blue;
    color: white;
}
#estrutura #menu a.atual{ /*item do menu selecionado*/
    background-color: blue;
    color: white
}
#estrutura #conteudo .imghome img{
    width: 380px;
    height: 250px;
    margin: 2px;
    border: 1px solid;
}
#rodape{
    border: 1px solid;
    background-color: blue;
    color: white;
    padding: 20px 0px;
    text-align: center;
}